<html lang = "en">

<head>
</head>

<body>
	<title >
		Game Revs
	</title>

	<div style >	
	<%= link_to "<button>Login</button>".html_safe, new_account_path, :id=>"", :class=>"buttons" %>
	</div>
	
	<!-- Wrapper for the headers -->

	 <div style = "clear:both;">
		<h2 class="mid_header" style ="float:right;">
		Articles    
		</h2>
	
		<h3 class="mid_header" style = "float:left; " >
		Reviews
		<br/>
		</h3>
	</div>
	
	<!-- Wrapper for the buttons -->

	 <div style = "clear:both;">
		<button class="buttons" style = "float:left" 
		type="button">All Articles
		</button>
		
		<button class="buttons" style = "float:left" 
		type="button">New
		</button>
		
		<button class="buttons" style = "float:right" 
		type="button">New
		</button>
		
		<button class="buttons" style = "float:right" 
		type="button">All Reviews
		</button>
	</div>
	
	<!--- Wrapper for the list of articles and reivews -->
	<div class="lists_top" style = "clear:both">
		<p1 class="list_trending" id = "articles_list"  >
		"the list of articles"
		-
		</p1>

		<p2 class="list_trending" id ="reviews_list" style = "float:left;"  >
		- "the list of Reviews"
		
		</p2>
	
	</div>
	
</body>