<html lang = "en">

<head>
</head>

<body>
	<title >
		Game Revs
	</title>

	<div style >	
	<%= link_to "<button>Login/Sign-Up</button>".html_safe, new_account_path, :id=>"", :class=>"buttons" %>
	
	</div>
	
	<!-- Wrapper for the headers -->
	
	 <div style = "clear:both;">
		<h2 class="mid_header" style ="float:right; margin-right: 273px;">
		Articles
		</h2>
	
		<h3 class="mid_header" style = "float:left; margin-left: 273px;">
		Reviews
		<br/>
		</h3>
	</div>
	
	
	<!-- Wrapper for the buttons -->
	 <div style = "clear:both;">
		
		
		<button class="buttons" style = "float:left; margin-left: 250px;"
		type="button">All Reviews
		</button>
		
		<!--<button class="buttons" style = "float:left; margin-left: 15px;"
		type="button">New
		</button> 
		
		<button class="buttons" style = "float:right; margin-right: 175px;" 
		type="button">New
		</button> -->
		
		<button class="buttons" style = "float:right; margin-right: 250px;"
		type="button">All Articles
		</button>
		
		
	</div>
	<!--- Wrapper for the list of articles and reviews -->
	<div class="lists_top" style = "clear:both">
		<p1 class="list_trending" id = "articles_list" >
		"Top 5 / Top 10 Articles"
		
		
		</p1>

		<p2 class="list_trending" id ="reviews_list" style = "float:left;"  >
		"Top 5 / Top 10 Reviews"
		</p2>
	
	</div>
	
</body>