// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#artP {
    padding-top: 30px;
}
#revP {
    padding-top: 30px;
}
#buttonP {
    padding-top: 30px;
}