// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#App_name {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 75px;
    color: #ffffff;
    border: 3px inset #ffffff;
    border-radius: 8px;
    
    background-image:url("http://hd-wall-papers.com/images/wallpapers/video-game-background/video-game-background-4.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
}
.lists_top {
    padding-top: 15pt;
}
.buttons{
    border-radius: 2px;
    background-color: #CACFD2;
    width: 10%;
    height: 50px;
}
.mid_header {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 38px;
    color: #ffffff;
}
.list_trending {
    border: 3px inset #ffffff;
    border-radius: 8px;
    background-color: #85c1e9;
    width: 45%;
    height: 300px;
}
body {
    background: #062362;
    
}

#articles_list {
    float: right; 
    text-align: right;
}

#reviews_list{
     float: left; 
    text-align: left;
}


