<!DOCTYPE html>
<html>
  <head>
    <title>GameRevs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 id = "App_name" align =center >
	  Game Revs
	  
	  <div align = center>
	   <input id = "search_box" type = "text"  name = query width = "888" placeholder = "Search">
	   
	   </div>
	
	</h1>
    <%= yield %>
  </body>
</html>
