<h1>Name of user</h1>

<body>
     <div>
	
	<%= link_to "<button>Create a Review</button>".html_safe, new_account_review_path(@account), :id=>"" ,:class=>"buttons" %>	
	</div>

    <div>
	
	<%= link_to "<button>Create an Article</button>".html_safe, new_account_article_path(@account), :id=>"" ,:class=>"buttons" %>	
	</div>
</body>